
{% extends 'base.html.twig' %}
{% block body %}
       
 <h2 class="page-header"> Event List </h2>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Event</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
{% for event in bigevents %}
    <tbody>
        <tr>
            <th scope="row">{{event.id}}</th>
            <td><a href="/bigevents/details/{{event.id}}">{{event.name}}</a></td>
            <td>{{event.startDate|date('F j, Y, g:i a')}}</td>
            <td>    
            <a href="/bigevents/edit/{{event.id}}" class="btn btn-default">Edit</a>
            <a href="/bigevents/delete/{{event.id}}" class="btn btn-danger">Delete</a>        
            </td>
        </tr> 
{% endfor %}
    </tbody>
    </table>
{% endblock %}